PROJECT_NAME=AI Backend
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/aibackend
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

REDIS_URL=redis://redis:6379

OPENAI_API_KEY=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
